Django==5.0.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==24.2
psycopg2-binary
mysqlclient
python-decouple==3.8
Pillow
reportlab==4.2.0
qrcode==7.4.2
openpyxl==3.1.2
pandas==2.2.2
python-dateutil==2.9.0
requests==2.32.3
pypdf==4.3.1
python-docx==1.1.2
xhtml2pdf==0.2.16
beautifulsoup4==4.12.3
